<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<%- messages() %>

<main>
  <section id="reviews-section">
    <p class="notice">Confirm Deletion - This cannot be undone.</p>
    <form action="/review/delete" method="post" class="review-form">
      <label>Review Date:</label>
      <p><%= new Date(review_date).toLocaleDateString() %></p>

      <label for="review_text">Review Text:</label>
      <textarea id="review_text" name="review_text" readonly><%= review_text %></textarea>

      <input type="hidden" name="review_id" value="<%= review_id %>">
      
      <button type="submit" style="background-color: #cc0000;">Confirm Delete</button>
    </form>
  </section>
</main>