<%- include("../partials/head") %>

<main class="register-container">
    <h1><%= title %></h1>
    <%- messages() %>

    <% if (errors) { %>
      <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <%  }) %>
      </ul>
    <% } %>

    <form action="/inv/add-classification" method="post" class="register-form" id="register-form">
        <label for="classification_name">Classification Name</label>
        <span class="password-hint">No spaces or special characters allowed.</span>
        <input 
            type="text" 
            id="classification_name" 
            name="classification_name" 
            required 
            pattern="^[a-zA-Z0-9]+$"
            value="<%= locals.classification_name %>"
            placeholder="e.g. Classic">
        <button type="submit">Add Classification</button>
    </form>
</main>

